.header-container {
  display: flex;
  height: 50px;
  padding: 10px;
  background-color: #e8e8e8;
}
.header-counter {
  margin-left: auto;
  padding-right: 10px;
  font-weight: bold;
  cursor: pointer;
}
